.textarea:after {
  content: '';
  display: block;
  clear: both;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 0;
}

input,
textarea,
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select[multiple] {
  vertical-align: top;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Search Input
-----------------------------------------------*/
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

::-webkit-search-decoration {
  display: none;
}

/* input
-----------------------------------------------*/
input[type=text],
input[type=password],
input[type=data],
input[type=detetime],
input[type=datetime-local],
input[type=email],
input[type=mouth],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=week] {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 .75rem;
  border: 1px solid #ddd;
}

input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}

input.is-true {
  border-color: #05d25b;
  background-image: url("/resources/img/common/icon-confirm.svg");
}

input.is-false {
  border-color: #f44336;
  background-image: url("/resources/img/common/icon-cancel.svg");
}

input:disabled {
  background-color: #f8f8f8;
  cursor: not-allowed;
}

.input-label {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: .5rem;
}

.help-text {
  display: block;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  font-weight: normal;
}

/* Textarea
-----------------------------------------------*/
.textarea {
  width: 100%;
}

.textarea textarea {
  vertical-align: top;
  min-height: 5rem;
  overflow: auto;
  resize: none;
  width: 100%;
}

.textarea .textarea-num {
  float: right;
}

/* Selects custom
-----------------------------------------------*/
.select {
  width: 100%;
}

.select select {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 .75rem;
  border: 1px solid #ddd;
}

/* form checkbox / radio cusotm
-----------------------------------------------*/
.form-check {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
  vertical-align: middle;
}

.form-check label {
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
}

.form-check label:before, .form-check label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.form-check label:before {
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
  box-sizing: border-box;
}

.form-check input {
  outline: 0;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.form-check input:checked + label:before {
  background-color: #2ba7bd;
  border: none;
  box-sizing: border-box;
  outline: 0;
}

.form-check input:disabled + label:before {
  background-color: #ddd;
  border: none;
}

.form-check input:disabled + label:after {
  border-color: #bbb;
}

.form-check.checkbox label:before {
  border-radius: 2px;
}

.form-check.checkbox label:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #ddd;
  border-top-style: none;
  border-right-style: none;
  box-sizing: border-box;
}

.form-check.checkbox input:checked + label:after {
  border-color: #fff;
}

.form-check.radio label:before {
  border-radius: 50%;
}

.form-check.radio label:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50%;
  box-sizing: border-box;
}

.form-check.radio input:checked + label:after {
  background-color: #fff;
}

/* switch cusotm
-----------------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  margin: 4px 0 4px 4px;
  font-size: 1rem;
}

.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch input[type=checkbox]:checked + label {
  transition: all .4s ease-in-out;
  background-color: #2ba7bd;
}

.switch input[type=checkbox]:checked + label:after {
  left: 37px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.switch input[type=checkbox]:disabled + label {
  background-color: #bbb;
}

.switch input[type=checkbox]:disabled + label:after {
  background-color: #ddd;
}

.switch label {
  transition: all .3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 15px;
  background-color: #ddd;
  border-radius: 2em;
  text-indent: -9999px;
  cursor: pointer;
}

.switch label:after {
  transition: all .3s ease-in-out;
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* File Uploads
-----------------------------------------------*/
/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}
/*# sourceMappingURL=forms.css.map */